$color-red-200: #FF2C55;
$color-red-400: #E2294F;
$color-red-600: #C41E3D;
$color-red-800: #7D1128;
$color-red-1000: #3C0919;

$color-white: #FFFFFF;
$color-white-025: rgba(255, 255, 255, .25);
$color-black: #0D1321;
$color-black-025: rgba(13, 19, 33, .25);

$color-warn: #FF9505;
$color-success: #7AC74F;

$gradient-main: linear-gradient($color-red-600, rgba(226, 41, 79, .9));


